
*{
    vertical-align: baseline;
    box-sizing: border-box;
}

/** Encabezado **/
body{
    padding-top: 294px;
    transition: padding-top 0.5s ease;
}

body.sticky-header{
    padding-top: 100px;
}

body.sticky-header header{
    height: 0px;
}

body.stiky-header header h1{
    transform: scale(0, 0);
}

header{
    width: 100%;
    height: 300px;
    position: fixed;
    top: 44px;
    overflow: hidden;
    transition: all 0.5s ease;
}

#contenedor_{
    width: 100%;
    height: 250px;
    transition: all 0.3s ease;
}

#encabezado_{
    width: 100%;
    height: 100%;
    background-color: rgb(66, 66, 66);
    color: white;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    text-shadow: rgba(0,0,0,.5) 0px 0px 10px;
    align-content: center;
    align-items: center;
}

#animacion-izquierda_{
    width: 20%;
    height: 100%;
}

#cuadro-externo_{
    background-color: rgba(55,236,1,.4);
    width: 50%;
    height: 55%;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    transform: rotate(-49deg) translateY(-17%) translateX(-58%);
    transition: all 400ms;
}
#cuadro-externo_:hover{
    background-color: aquamarine;
}

#cuadro-interno_{
    background-color: rgba(55,236,1,.4);
    width: 85%;
    height: 85%;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
}
#cuadro-interno_:hover{
    background-color: aqua;
}

#texto_ h1{
    color: rgb(55,236,1);
    margin: 4% 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#texto_ hr{
    border: none;
    outline: none;
    width: 70%;
    height: 3px;
    background-color: rgb(55,236,1);
    margin: 4% 0%;
}

#texto_ p{
    margin: 2% 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#boton_{
    background-color: rgba(55,236,1,.5);
    padding: 10px;
    border: 2px solid rgba(0,0,0,0);
    display: inline-block;
    transition: all 400ms;
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

#boton_:hover{
    border-color: white;
    cursor: pointer;
    transform: scale(1.05);
}

#boton_:active{
    transform: scale(0.98);
    background-color: rgba(164,242,99,.6);
}

#animacion-centro_{
    width: 50%;
}

#animacion-derecha_{
    width: 30%;
    height: 100%;
}

#cuadro-externo-dos_{
    background-color: rgb(55,236,1);
    width: 100%;
    height: 140%;
    display: flex;
    align-items: center;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    transform: translateX(10%) translateX(25%) rotate(40deg);
}

#cuadro-interno-dos_{
    background-color: rgba(166, 255, 170, 0.795);
    width: 75%;
    height: 95%;
    margin: auto;
    overflow: hidden;
    border: 2px solid rgb(66, 66, 66);
    box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
    transform: rotate(-5deg) translateY(-7%) translateX(-10%);
}

#imagen_{
    width: 70%;
    height: 70%;
    background-image: url(../img/inicio/Logo-UT.png);
    background-position: left;
    background-size: cover;
    transform: rotate(-35deg);
    margin-top: 50px;
    margin-left: 10px;
    transition: all 400ms;
}

#imagen_:hover{
    transform: scale(1.2) rotate(-20deg);
    filter: sepia(30%);
}

/** Termina Encabezado **/

/** Menu dropdown **/
.dropbtn {
    background-color:rgb(41, 42, 48);
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(41, 42, 48);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation-duration:  1s;
}

.dropdown-content a {
    text-align: right;
    color: black;
    padding: 15px 100px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    width: 100% !important;
    background-color: black;
    animation-duration:  2s;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation-duration: 2s;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    animation-duration: 2s;
}



/** Menu **/ 

header{
    width: 100%;
  
    position: fixed;
}

.menu{
   
    list-style: none;
    position: relative;
}

.menu, li{
    float: right;
}

.menu, li, a{
    display: block;
    text-decoration: none;
}

.menu{
    background-color: rgb(41, 42, 48);
    text-align: left;
    width: 100%;
    
  
}

.menu-bar{
    display: none;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    font-size: 20px;
}

.menu a, span{
    margin-right: 5px;
}

.menu span{
    font-size: 17px;
}

.menu a:hover{
    background-color: #555;
    text-decoration: none;
    color: rgb(55,236,1);
    border: .1px solid rgb(180, 180, 180);
    animation-duration: 2s;
}

.menu a:active{
    color: white;
    
}
/** Termina Menu **/

.cuerpo{
    background-color: white;
    min-height: 78.2vh;
}

.footer{
    background-color: #111;
    padding: 2rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.centrar_login{
    width: 40%;
    text-align: center;
    padding-top: 15rem;
}


/** RESPONSIV **/

@media screen and (max-width:900px){
    .menu{
        width: 80%;
        height: 100%;
        left: -100% ;
        margin: 0px;
        position: fixed;
        padding: 15px;
        z-index: 200;
    }

    .menu, li{
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .menu-bar{
        display: block;
        width: 100%;
        background-color: #ccc;
    }

    .menu-bar .bt-menu{
        display: block;
        padding: 20px;
        background-color: rgb(41, 42, 48);
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu-bar, span{
        display: block;
        float: right;
        font-size: 40px;
    }

}