
body{
    height: 300px;
}

#cuerpo{
    background-image: url(../img/inicio/fachada-ut.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    height: 100vh;
    padding-top: 10%;
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

h2{
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 70%;
}

#boton{
    background-color: #31384A;
    color: white;
    padding: 20px;
    transition: all 300ms;
    border: none;
}

#boton:hover{
    transform: scale(1.05);
    border-radius: 10px;
    color: rgb(104, 125, 177);
}

#boton:active{
    background-color: rgb(57, 88, 167);
    transform: scale(1);
    border-radius: 10px;
}

@media (max-width:500px){
    #cuerpo{
        padding-top: 30%;
    }

    form{
        width: 90%;
    }
}