
.contenedor-template{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    position: relative;
    font-size: 1.4vw;
}

.cuerpo-template{
    font-family: 'Crimson Text', serif;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    top: 50px;
    left: 30%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4rem #000;
    position: absolute;
    overflow-y: auto;
}

.cuerpo-template h1{
    background-color: rgba(0,0,0,.6);
    color: white;
    border-radius: 7px;
    margin: 15px;
    padding: 5px;
    text-transform: uppercase;
}

.cuerpo-template h4{
    font-size: 1.55vw;
}

.comentarios-template{
    width: 95%;
    max-height: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 4rem #000;
    margin-top: 650px;
    position: absolute;
    overflow-y: auto;
}



@media screen and (max-width:900px){

    .contenedor-template{
        max-width: 100%;
        min-width: 20%;
        height: 100%;
        text-align: center;
        padding: 0%;
        position: relative;
        font-size: 1.4vw;
    }
    
    .cuerpo-template{
        font-family: 'Crimson Text', serif;
        max-width: 500px;
        min-width: 300px;
        min-height: 600px;
        max-height: 600px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        top: 50px;
        left: 5%;
        right: 5%;
        padding: 25px;
        box-sizing: border-box;
        box-shadow: 0px 0px 4rem #000;
        position: absolute;
        overflow-y: auto;
    }

    .cuerpo-template h4{
        font-size: 2.5rem;
        font-weight: bold;
    }

    .cuerpo-template p{
        font-size: 2rem;
        margin: 20px 0px;
    }
    
    .comentarios-template{
        min-width: 350px;
        max-height: 500px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 4rem #000;
        margin-top: 700px;
        margin-left: 2.5%;
        position: absolute;
        overflow-y: auto;
    }
}