
.centrado{
    padding: 15px 75px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: -30px;
}

.producto{
    width: 300px;
    height: 200px;
    background-color: #62bd7a;
    margin: 50px;
    padding: 15px;
    border: 2px solid black;
}

.img_producto{
    width: 50%;
    border: 2px solid black;
    transition: all 400ms;
}

.img_producto:hover{
    transform: scale(1.1);
}

.name_producto{
    margin: 10px;
}

.precio{
    line-height: 0%;
    padding: 0px;
}

.btn:hover{
    transform: scale(1.1);
}

.formulario-tienda{
    padding: 20px;
    margin: 20px 0px;
}

.columna-tienda{
    width: 40%;
    margin: 0px;
    margin-left: 20px;
    float: left;
}

.btn-tienda{
    width: 15%;
    margin-left: 20px;
    float: left;
}

/** Seccion de Noticias **/
.contenedor-noticias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* esto hace que no se salga de los limites */
    padding: 0px;
}

.noticias{
    flex: 0 0 calc( 33.3% - 10px ); /* Toma la misma funcionalidad que lo siguiente 
    flex-shrink: 0; /*esto hace que no se encoja y que toma el tamaño de la bace "flex-basis: ***" 
    flex-basis: calc( 33.3% - 1rem ); */
    border: 2px double #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.cuerp-texto-noticias{
    font-size: 20px;
    line-height: 30px;
}

.contenido-noticias{
    padding: 20px;
    text-align: center;
}
.contenido-noticias p{
    font-size: 20px;
    margin: 0;
}
.contenido-noticias h3{
    background-color: rgba(0,0,0,.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.contenido-noticias hr{
    height: 2px;
    background-color: #179c17;
}

.etiqueta{
    color: #71B100;
    font-weight: 700;
}
.stock{
    color: coral;
    font-size: 20px;
}

.btn-primary{
    border-radius: 5px;
    background-color: transparent;
    color: rgb(59, 59, 59);
    font-weight: 500;
}

.cant12345{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/*********************/

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    display: inline-block; /* Para que tome en cuenta el padding y margin solo para los enlaces y las imagenes */
    width: 100%;
}
.boton-verde{
    background-color: rgb(52, 136, 26);
    text-align: center;
    transition: all 400ms;
}

.boton:hover{
    border-color: white;
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: none;
    color: rgb(161, 233, 140);
    border-radius: 10px;
}

.boton:active{
    transform: scale(0.98);
    background-color: rgb(33, 156, 28);
    border-radius: 0px;
}

/** Carrito de Compras **/
/*
.social-bar_45216{
    position: fixed;
    right: 0;
    top: 45%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    transition: all .5s;
}

.icon-cart{
    background: #2E406E;
    width: 40;
    height: 50;
}

.icon:last-child{
    border-radius: 1rem 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    text-decoration: none;
    color: rgba(164,242,99,.6);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}
*/

.contenedor-carrito{
    position: fixed;
    right: 5px;
    bottom: 0;
    width: 350px;
    height: 500px;
    background-color: beige;
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
}

.contenedor-carrito .subir{
    text-align: center;
    position: fixed;
    cursor: pointer;
    background-color: #179c17;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 40px;
    margin: 0;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
}

.contenedor-carrito p{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 61px;
    padding: 5px 5px 5px 10px;
    background-color: beige;
    width: 350px;
    border-bottom: 2px solid black;
}

.contenedor-carrito hr{
    border: 1px solid black;
}

.contenedor-carrito .productos{
    width: 300px;
    min-height: 150px;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.descripcion{
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 0px;
}

.td-1{
    width: calc(100% - 50%);
}

.td-2{
    width: calc(100% - 80%);
    text-align: center;
}

.td-3{
    width: calc(100% - 80%);
    text-align: center;
}

.total{
    border-top: 2px solid black;
    bottom: 0px;
    padding: 1px 0px 15px 15px;
    width: 350px;
    margin-bottom: 10px;
}


.bt-pago{
    background-color: #337ab7;
    color: white;
    width: 180px;
    height: 35px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    transition: all 400ms;
    text-decoration: none;
}

.bt-pago:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: #bef8be;
    text-decoration: none;
}

.bt-pago:active{
    transform: scale(1.0);
    background-color: #5397d3;
    color: white;
}

@media (max-width:500px){
    .contenedor-carrito{
        width: 100%;
    }

    .contenedor-carrito .subir{
        cursor: pointer;
        width: 100%;
        border-radius: 0px;
    }

    .contenedor-carrito p{
        width: 100%;
    }

    .total{
        width: 100%;
    }
}