
.centrado{
    padding: 90px 150px;
}

.centrar-texto{
    text-align: center;
}

.encabezado-banner {
    display: block;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0px;
}

.sub-titulo{
    font-size: 25px;
    font-weight: bolder;
    padding: 20px;
}

.cuerp-texto-noticias{
    font-size: 10vw;
    line-height: 35px;
}

.cuerp-texto p{
    font-size: 1.4vw;
    line-height: 27px;
}

/** Seccion de paraescolares **/

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icono{
    flex-basis: calc( 33.3% - 1rem ); /* Contiene la misma funcionalidad que el width solo que esta se utiliza junto al flex-box */
    text-align: center;
    line-height: 1;
}
/*************************/

/** Seccion de Noticias **/
.contenedor-noticias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* esto hace que no se salga de los limites */
    padding: 50px;
}

.noticias{
    flex: 0 0 calc( 33.3% - 10px ); /* Toma la misma funcionalidad que lo siguiente 
    flex-shrink: 0; /*esto hace que no se encoja y que toma el tamaño de la bace "flex-basis: ***" 
    flex-basis: calc( 33.3% - 1rem ); */
    border: 2px double #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.contenido-noticias{
    padding: 20px;
    line-height: 2;
    text-align: center;
}
.contenido-noticias h3, p{
    font-size: 26px;
    margin: 0;
}
.contenido-noticias p{
    margin: 0;
}
.contenido-noticias hr{
    height: 2px;
    background-color: #179c17;
    margin-top: 40px;
}

.etiqueta{
    color: #71B100;
    font-weight: 700;
}

.cant12345{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
/*********************/

/** Seccion de Contacto **/
.paralax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

.imagen-contacto{
    background-image: url(../img/inicio/img-contacto.jpg);
    height: 40rem;
    display: flex;
    align-items: center;
    margin-bottom: 113px;
}

.contenido-contacto{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
}

.contenido-contacto p{
    font-size: 25px;
}
/*********************/

/** MAPA **/
.mapa{
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
}
/******************/

/** Redes Sociales **/
.social-bar_45216{
    position: fixed;
    left: 0;
    top: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

.icon{
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook2{
    background: #2E406E;
    width: 46.38;
    height: 46.38;
}
.icon-instagram{
    background: #3F60A5;
}
.icon-twitter{
    background: #339DC5;
}
.icon-youtube{
    background: #E83028;
}
.icon-mail4{
    background: cornflowerblue;
}
.icon-whatsapp{
    background: #11d111;
}

.icon:first-child{
    border-radius: 0 1rem 0 0;
}
.icon:last-child{
    border-radius: 0 0 1rem 0;
}

.icon:hover{
    padding-left: 3rem;
    border-radius: 0 1rem 1rem 0;
    text-decoration: none;
    color: rgba(164,242,99,.6);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

/********************************/

/** Entradas del Blog **/
.entradas-blog{
    position: fixed;
    right: 0;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon_{
    color: white;
    text-decoration: none;
    padding: 0;
    display: flex;
    transition: all .5s;
}

.icon-f{
    background: rgb(37, 158, 0);
    width: 130px;
    height: 120px;
}

.blog-con{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}

.blog-1{
    background-image: url(../img/inicio/blog-1.jpg);
}

.blog-2{
    background-image: url(../img/inicio/blog-2.jpg);
}

.blog-3{
    background-image: url(../img/inicio/blog-3.jpg);
}

.icon_:first-child{
    border-radius: 1rem 0 0 0;
}
.icon_:last-child{
    border-radius: 0 0 0 1rem;
}

.icon_:hover{
    padding-right: 18rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 1.5rem rgb(0, 0, 0);
    background-color: white;   
}

.texto-blog{
    font-size: 20px;
    color: rgb(37, 158, 0);
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
    line-height: 110%;
}

.texto-blog:hover{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: black;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 190px;
    height: 120px;
    line-height: 200%;
}

.boton-entrada{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0px 30px;
    margin-top: 0px;
    display: inline-block;
    border-radius: 10px;
}
.boton-entrada:hover{
    text-decoration: none;
    color: rgb(37, 158, 0);
}
.boton-entrada:active{
    transform: scale(0.98);
    background-color: rgb(164,242,99);
}

/*******************************/
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block; /* Para que tome en cuenta el padding y margin solo para los enlaces y las imagenes */
    width: 300px;
}
.boton-verde{
    background-color: rgb(49, 126, 26);
    text-align: center;
    transition: all 400ms;
}

.boton:hover{
    border-color: white;
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: none;
    color: rgb(161, 233, 140);
    border-radius: 10px;
}

.boton:active{
    transform: scale(0.98);
    background-color: rgba(164,242,99,.6);
}



@media screen and (max-width:900px){
    .social-bar_45216{
        z-index: 100;
    }
    .centrado{
        padding: 10px;
        left: 0px;
    }
    
    .centrar-texto{
        left: 0px;
    }

    .boton{
        width: 100%;
    }
    
    .cuerp-texto p{
        font-size: 1.8vw;
        line-height: 20px;
    }

}