

img{
    width: 100%;
}

.cartelera-2{
    width: 90%;
    max-width: 1400px;
    margin: auto;
    margin-top: 50px;
}

.contenedor-cartelera-2{
    display: flex;
    justify-content: space-between;
}

.contenedor-item-2{
    width: 33%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.contenedor-item-2:hover .contenedor-img-2{
    transform: scale(1.15);
    transition: all 0.5s;
}

.contenedor-item-2:before, .contenedor-item-2:after{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 7px;
    background:  rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.contenedor-item-2:before{left: -100%; top: 10px;}
.contenedor-item-2:after{left: 100%; bottom: 10px;}

.contenedor-item-2:hover:before, .contenedor-item-2:hover:after{
    left: 15px;
}

.contenedor-text-2{
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1.5);
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 15px;
}

.contenedor-text-2:hover {
    transform: scale(1);
    opacity: 1;
}


/** Contenido **/
.contenedor-text-2 a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    line-height: 35px;
}

#mas{
    width: 100px;
    height: 35px;
    margin-left: 40%;
    background-color: darkgreen;
    padding: 0px;
    transition: all 400ms;
}

#mas:hover{
    background-color: rgb(0, 139, 0);
    transform: scale(1.1);
    border-radius: 5px;
    cursor: pointer;
}

#mas:active{
    transform: scale(1);
    border-radius: 0px;
    background-color: darkgreen;
}


@media screen and (max-width:900px){

    .contenedor-cartelera-2{
        display: block;
        justify-content: space-between;
    }

    .contenedor-item-2{
        width: 100%;
        max-width: 600px;
        min-width: 300px;
        margin: 50px 10px;
    }

    .contenedor-text-2{
        text-align: center;
        position: absolute;
        transition: all 0.3s;
        transform: scale(1.5);
        opacity: 0;
        background: rgba(0, 0, 0, 0.7);
        text-decoration: none;
        color: white;
        width: 100%;
        padding: 15px;
    }
}