*{
    margin: 0;
    padding: 0;
}

.contenedor-envio{
    max-width: 80%;
    min-width: 50%;
    height: 400px;
    background-color: white;
    box-shadow: 0 3px 20px black;
    position: absolute;
    left: 25%;
    top: 25%;
    border-radius: 10px;
}

.texto-envio{
    text-align: center;
}

.texto-envio h2{
    padding: 30px 0px;
    font-family: sans-serif;
    font-size: 30px;
}

.texto-envio a{
    background-color: #3675ff;
    padding: 10px 20px;
    margin: 50px 0px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    transition: all 400ms;
}

.texto-envio a:hover{
    transform: scale(1.5);
    color: blue;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url(../img/material-loader.gif) no-repeat center center;
}

@media (max-width:900px) {
    .contenedor-envio{
        max-width: 80%;
        height: 400px;
        background-color: white;
        box-shadow: 0 3px 20px black;
        position: absolute;
        left: 10%;
        top: 25%;
        border-radius: 10px;
    }
}