
/* ---- stats.js ---- */

.count-particles{
  background: #000000;
  position: absolute;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 1200px;
/*  background-color: #b61924;*/
    
  /*color de fondo*/
    
  background-image: url(../img/textura.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
